.modal-wrapper {
    background: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    z-index: 1000;
    position: fixed;
}

.modal{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    width: 75%;
    height: 75%;
}
